In [1]:
import pandas as pd

In [2]:
from sqlalchemy import create_engine

In [3]:
username = "root"
password = "root"
host = "postgres_db_container"  # or the IP address of your PostgreSQL server
port = "5432"  # Default PostgreSQL port
database = "ny_taxi"

# Create the connection URL
connection_url = f"postgresql://{username}:{password}@{host}:{port}/{database}"

In [4]:
connection_url

'postgresql://root:root@postgres_db_container:5432/ny_taxi'

In [5]:
connector = create_engine(connection_url)

In [6]:
connector.connect()

In [7]:
df_iter = pd.read_csv(
    filepath_or_buffer="../data/input/yellow_tripdata_2021-01.csv",
    iterator=True,
    chunksize=100000,
)

In [8]:
df = next(df_iter)
df["tpep_pickup_datetime"] = pd.to_datetime(df["tpep_pickup_datetime"])
df["tpep_dropoff_datetime"] = pd.to_datetime(df["tpep_dropoff_datetime"])
df.head(n=0).to_sql(name="yellow_taxi_data", con=connector, if_exists="replace")

0

In [9]:
while True:
    try:
        df = next(df_iter)
        df["tpep_pickup_datetime"] = pd.to_datetime(df["tpep_pickup_datetime"])
        df["tpep_dropoff_datetime"] = pd.to_datetime(df["tpep_dropoff_datetime"])
        df.to_sql(name="yellow_taxi_data", con=connector, if_exists="append")
    except StopIteration:
        break

/tmp/ipykernel_9/1862984118.py:3: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)